<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html !-f
RewriteRule ^(.*)$ $1.html


RewriteRule ^about/$    /about.html [L]
RewriteRule ^contact/$ /contact.html[L]
RewriteRule ^jurnal/$      /jurnal.html [L]
RewriteRule ^hki/$  /hki.html [L]
RewriteRule ^profil/$  /profil.html [L]

</IfModule>
